<h1>Welcome to My First Express.js App :) </h1>
<p>CPU Architecture is <%=data["CPUArchitecture"] %></p>
<p>CPU model is <%=data["CPU"].map(e=>e.model)%></p>
<p>CPU speed is <%=data["CPU"].map(e=>e.speed) %></p>
<p>endianess of CPU is <%=data["endianessOfCPU"] %></p>