<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <h1>Welcome to My First Express.js App :) </h1>
    <nav>
      <ul>
        <% if (!isAuthenticated) { %>
          <li><a href="/login">Login</a></li>
          <% } else { %>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/dashboard">Go to dashboard</a></li>
            <%}%>
      </ul>
    </nav>
  </div>
</body>

</html>