<body>
  <div class="container">
    <h1>Path Module </h1>
    <p>Base path is <%=data["basename"] %></p>
    <p>Base path is <%=data["dirname"] %></p>
    <p>Base path is <%=data["extname"] %></p>
  </div>
</body>

